.card_container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 65%;
    min-height: 250px;
    margin: 60px 0;
    outline: none;
    border: none;
    border-radius: 15px;
    overflow: hidden;

}
img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
}
.container_info {
    width: 70%;
    height: 80%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
}
.container_info h5 {
    color: #e8e4e4;
    font-size: 26px;
}
ul {
    list-style-type: none;
}
.list_title {
    color: #b8b7b7;
    font-size: 18px;
    margin-bottom: 20px;
}
span {
    font-weight: 600;
    color: #fff;
    font-size: 17px;
}
li {
    color: #d0d0d0;
    font-size: 17px;
}

@media (max-width: 1050px) {
    .card_container {
        width: 75%;
        margin: 50px 0;
    }
    img {
        width: 210px;
        height: 210px;
    }
    .container_info {
        padding: 20px 30px;
    }
    .container_info h5 {
        font-size: 24px;
    }
    .list_title {
        font-size: 16px;
        margin-bottom: 18px;
    }
    span {
        font-size: 15px;
    }
    li {
        font-size: 15px;
    }
}

@media (max-width: 900px) {
    .card_container {
        width: 85%;
        margin: 45px 0;
    }
    img {
        width: 200px;
        height: 200px;
    }
    .container_info {
        /* height: 80%; */
        padding: 20px 30px;
    }
    .container_info h5 {
        font-size: 22px;
    }
    .list_title {
        font-size: 16px;
        margin-bottom: 18px;
    }
    span {
        font-size: 15px;
    }
    li {
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .card_container {
        width: 85%;
        margin: 40px 0;
    }
    img {
        width: 180px;
        height: 180px;
    }
    .container_info {
        width: 80%;
        height: 70%;
        padding: 20px 25px;
    }
    .container_info h5 {
        font-size: 20px;
    }
    .list_title {
        font-size: 15px;
        margin-bottom: 10px;
    }
    span {
        font-size: 14px;
    }
    li {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .card_container {
        width: 85%;
        margin: 40px 0;
    }
    img {
        width: 175px;
        height: 175px;
    }
    .container_info {
        width: 90%;
        height: 70%;
        padding: 15px 5px 15px 20px;
    }
    .container_info h5 {
        font-size: 20px;
    }
    .list_title {
        font-size: 15px;
        margin-bottom: 10px;
    }
    span {
        font-size: 14px;
    }
    li {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .card_container {
        width: 85%;
        margin: 30px 0;
    }
    img {
        width: 160px;
        height: 160px;
    }
    .container_info {
        width: 90%;
        height: 65%;
        padding: 15px 5px 15px 20px;
    }
    .container_info h5 {
        font-size: 18px;
    }
    .list_title {
        font-size: 14px;
        margin-bottom: 10px;
    }
    span {
        font-size: 13px;
    }
    li {
        font-size: 13px;
    }
}

@media (max-width: 550px) {
    .card_container {
        width: 90%;
        margin: 15px 0;
    }
    img {
        width: 140px;
        height: 140px;
    }
    .container_info {
        width: 90%;
        height: 55%;
        padding: 15px 5px 15px 20px;
    }
    .container_info h5 {
        font-size: 16px;
    }
    .list_title {
        font-size: 12px;
        margin-bottom: 8px;
    }
    span {
        font-size: 11px;
    }
    li {
        font-size: 11px;
    }
}

@media (max-width: 460px) {
    .card_container {
        width: 90%;
        margin: 15px 0;
        height: 200px;
    }
    img {
        width: 130px;
        height: 130px;
    }
    .container_info {
        width: 90%;
        height: 65%;
        padding: 10px 0px 15px 15px;
    }
    .container_info h5 {
        font-size: 15px;
    }
    .list_title {
        font-size: 11px;
        margin-bottom: 8px;
    }
    span {
        font-size: 10px;
    }
    li {
        font-size: 10px;
    }
}

@media (max-width: 420px) {
    .card_container {
        width: 90%;
        margin: 15px 0;
        height: 180px;
    }
    img {
        width: 115px;
        height: 115px;
    }
    .container_info {
        width: 90%;
        height: 65%;
        padding: 10px 0px 15px 15px;
    }
    .container_info h5 {
        font-size: 14px;
    }
    .list_title {
        font-size: 10px;
        margin-bottom: 7px;
    }
    span {
        font-size: 9px;
    }
    li {
        font-size: 9px;
    }
}