.container_list {
    width: 100%;
    height: 800vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #151414; */
    /* background-color: #171616; */

}

@media (max-width: 1200px) {
    .container_list {
        height: 830vh;
    }
}

@media (max-width: 1000px) {
    .container_list {
        height: 820vh;
    }
}
@media (max-width: 950px) {
    .container_list {
        height: 880vh;
    }
}

@media (max-width: 550px) {
    .container_list {
        height: 730vh;
    }
}

@media (max-width: 530px) {
    .container_list {
        height: 750vh;
    }
}

@media (max-width: 470px) {
    .container_list {
        height: 760vh;
    }
}
@media (max-width: 450px) {
    .container_list {
        height: 680vh;
    }
}